body {
    background-color: hsl(235, 16%, 14%);
    background-image: url(../images/bg-stars.svg);
    color: hsl(0, 0%, 100%);
    font-family: 'Red Hat Text', sans-serif;
    font-size: 14px;
    font-weight: 700;
    height: 100vh;
    margin: 0px;
    text-transform: uppercase;
    overflow: hidden;
}

a {
    text-decoration: none;
}

h1 {
    letter-spacing: 5px;
    margin-bottom: 70px;
}

.background {
    user-select: none;
    width: 100vw;
    overflow: hidden;
}

.background .bg-hills {
    background-image: url(../images/pattern-hills.svg);
    height: 100vh;
    position: absolute;
    top: calc(100vh - 170px);
    width: 100vw;
}

.container {
    display: flex;
    height: 100vh;
    justify-content: center;
    margin-top: 5%;
    width: 100vw;
    z-index: 1000;
}

.counter {
    user-select: none;
}

.counter-block {
    align-items: center;
    background: hsl(236, 21%, 26%);
    border-radius: 10px;
    box-shadow: 0px 10px 0px 0px rgba(0, 0, 0, 0.2);
    display: flex;
    margin: 10px;
    height: 100px;
    justify-content: center;
    overflow: hidden;
    position: relative;
    width: 100px;
}

.counter-block .block-bg-top {
    background: rgba(0, 0, 0, 0.2);
    height: 50%;
    position: absolute;
    top: 0;
    width: 100%;
}

.counter-block .block-circle {
    background: rgb(24, 25, 33);
    border-radius: 50%;
    height: 10px;
    position: absolute;
    width: 10px;
}

.counter-block .block-circle.left {
    left: -5px;
    z-index: 1;
}

.counter-block .block-circle.right {
    right: -5px;
    z-index: 1;
}

.counter-block .counter-num {
    color: hsl(345, 95%, 68%);
    font-size: 50px;
}

.counter-subtitle {
    color: hsl(237, 18%, 59%);
    letter-spacing: 5px;
}

.social {
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
    z-index: 100;
}

.social a {
    cursor: pointer;
    margin: 15px;
}

.social a svg:hover path {
    fill: hsl(345, 95%, 68%);
}

.text-center {
    text-align: center;
    padding-top: 50px;
}

@media only screen and (max-width: 375px) {
    h1 {
        font-size: 25px;
    }
    .text-center {
        padding-top: 100px;
    }
    .counter-block {
        height: 70px;
        width: 70px;
        margin: 5px;
    }
    .counter-num {
        font-size: 35px !important;
    }
    .counter-subtitle {
        font-size: 8px;
    }
    .social {
        bottom: 30px;
    }
    .background .bg-hills {
        background-position-x: -950px;
    }
}